
<div class="navbar">
    <div class="navbar-brand" id="wordBoxBrand">Word Box</div>
    <div class="navbar-menu">
        <a href="#" id="newBox">New Create Word Box</a>
    </div>
</div>
<script src="/js/navbar.js"></script>
