<link rel="stylesheet" type="text/css" href="/css/navbar.css">

<div class="navbar">
    <div class="navbar-brand" id="wordBoxBrand">W<img src="/images/box.png" alt="" class="inline-icon">rd B<img src="/images/box.png" alt="" class="inline-icon">x</div>
    <div class="navbar-menu">
        <a href="" id="newBox">Create Word Box</a>
    </div>
</div>
<script src="/js/navbar.js"></script>
