<!DOCTYPE html>
<html>

<head>
    <title>Kelime Sepeti</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <%- include('partials/navbar') %>
    <h1> Ana Sayfadasın güzelim</h1>



    <script src="/js/script.js"></script>
</body>

</html>