<!DOCTYPE html>
<html>

<head>
    <title>Kelime Sepeti</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/mybox.css">
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container-mybox">
            <h2 id="title_box">Let's create own word box!</h2>
            <div class="input-section" id="input-section">

                <input type="text" id="englishWord" placeholder="English Word">
                <input type="text" id="turkishWord" placeholder="Turkish Word">
                <button id="addButton">Add Box</button>
                <button id="startButton">Start</button>

            </div>
            <div class="basket" id="basket">
                <h2>Word List</h2>
                <ul id="wordList"></ul>
            </div>
            <%- include('partials/box') %>

        </div>

        <script src="/js/mybox.js"></script>
</body>

</html>