.scene {
    perspective: 1000px;
    margin: 50px;
}

.box {
    width: 300px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-35deg) rotateY(-45deg);
    transition: transform 1s;
}

.face {
    position: absolute;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 8px solid #ccc; 

}

.front {
    background-color: #2c3e50;
    border-color: #c8c7c5;
}

.back {
    background-color: #2c3e50;
    border-color: #c8c7c5;
}

.left {
    background-color: #2c3e50;
    border-color: #c8c7c5;
    border-radius:15px ;
    border: 8px solid #ccc;

}

.right {
    background-color: #2c3e50;
    border-color: #c8c7c5;
    border-radius:15px ;
    border: 8px solid #ccc;


}

.top {
    background-color: #E5A601;
    border-color: #c8c7c5;
}

.bottom {
    background-color: #2c3e50;
    border-color: #c8c7c5;
}

#selectZ {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.paper {
    position: absolute;
    width: 180px;
    top: 45px;
    left: 120px;
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
}

.front { transform: rotateY(  45deg) translateZ(50px); }
.back { transform: rotateY(225deg) translateZ(50px); }
.left { width: 100px; height: 100px; transform: rotateY(-45deg) translateZ(78px) translateX(70px); }
.right { width: 100px; height: 100px; transform: rotateY( 135deg) translateZ(220px) translateX(-70px); }
.top { width: 300px; height: 100px; transform: rotateY(  45deg) rotateX( 90deg) translateZ(53px); transition: transform 1s; }
.bottom { width: 300px; height: 100px; transform: rotateY(  45deg) rotateX(-90deg) translateZ(50px); }

.box.open-top .top {
    transform: rotateX(90deg) translateZ(60px);
}

.paper {
    transform: translateY(50px);
    transition: transform 1s;
    opacity: 0;
}

.box.open-top .paper {
    transform: translateY(-80px) rotateY(45deg) translateX(-30px) ;
    opacity: 1;
}

.answer-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-section p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.answer-section input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

.answer-section button {
    padding: 5px 10px;
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #2C3E50; /* Koyu mavi arka plan */
    color: #ffffff; /* Beyaz yazı rengi */
    margin: 5% auto;
    padding: 20px;
    border: 3px solid #E5A601;
    border-radius: 10px; /* Köşeleri yuvarlama */
    width: 30%;
}

.close {
    color: #E5A601; /* Altın sarısı renk */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffffff; /* Beyaz renk */
    text-decoration: none;
    cursor: pointer;
}

.yellow-border {
    border: 2px solid #E5A601; /* Altın sarısı border */
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 4px; /* Alt boşluk */
    display: inline-block; /* Her satırı blok öğesi olarak göster */
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotateX(-35deg) rotateY(-45deg); }
    10% { transform: translate(-1px, -2px) rotateX(-35deg) rotateY(-46deg); }
    20% { transform: translate(-3px, 0px) rotateX(-35deg) rotateY(-44deg); }
    30% { transform: translate(3px, 2px) rotateX(-35deg) rotateY(-45deg); }
    40% { transform: translate(1px, -1px) rotateX(-35deg) rotateY(-44deg); }
    50% { transform: translate(-1px, 2px) rotateX(-35deg) rotateY(-44deg); }
    60% { transform: translate(-3px, 1px) rotateX(-35deg) rotateY(-45deg); }
    70% { transform: translate(3px, 1px) rotateX(-35deg) rotateY(-44deg); }
    80% { transform: translate(-1px, -1px) rotateX(-35deg) rotateY(-46deg); }
    90% { transform: translate(1px, 2px) rotateX(-35deg) rotateY(-44deg); }
    100% { transform: translate(1px, -2px) rotateX(-35deg) rotateY(-45deg); }
}

.shake {
    animation: shake 0.5s; /* Duration of the shake effect */
    animation-iteration-count: infinite; /* Repeat indefinitely */
}

#submitAnswer {
    background-color: #E5A601; 
    border: none; 
    color: white; 
    padding: 11px 22px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition: background-color 0.3s, transform 0.3s; /* Geçiş efekti */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Gölge efekti */
}

#submitAnswer:hover {
    background-color: #e68900; 
    transform: scale(1.05); 
}
#submitAnswer:active {
    background-color: #cc7a00; 
    transform: scale(1); 
}

#userAnswer {
    padding: 12px; 
    box-sizing: border-box; 
    border: 1px solid #2c3e50; 
    border-radius: 12px; 
    font-size: 16px; 
    outline: none; 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

#userAnswer:focus {
    border-color: #2c3e50;  
    box-shadow: 0 0 8px rgba(229, 166, 1, 0.5); 
}

.progress-container {
    width: 80%;
    height: 16px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-segment {
    height: 100%; /* Yüksekliği tam olarak kapsayacak şekilde güncelleme */
    width: 0; /* Başlangıçta 0 genişliğinde olacak şekilde ayarlandı */
    background-color: #76c7c0; /* İlerleme rengini belirleyin */
    transition: width 0.3s ease, background-color 0.3s ease;
}

.yellow-color{
    color:#E5A601;
}


@media (max-width: 650px) {
    .box {
        width: 200px; /* Kutunun genişliği ve yüksekliği küçültüldü */
        height: 70px;
    }
    .face {
        width: 200px; /* Yüzeylerin genişliği ve yüksekliği küçültüldü */
        height: 70px;
        font-size: 16px; /* Yazı fontu küçültüldü */
        border: 5px solid #ccc; /* Border genişliği küçültüldü */
    }
    .left, .right {
        width: 100px; /* Yan yüzeylerin genişliği küçültüldü */
        height: 70px;
    }
    .paper {
        width: 150px; /* Kağıdın genişliği ve yüksekliği küçültüldü */
        height: 30px;
        top: 35px;
        left: 25px;
        font-size: 14px; /* Yazı fontu küçültüldü */
    }
    .answer-section p {
        font-size: 14px; /* Yazı fontu küçültüldü */
        margin-top: 10px;
    }
    .answer-section input, .answer-section button {
        font-size: 14px; /* Yazı fontu küçültüldü */
        padding: 4px; /* Padding küçültüldü */
    }
    .modal-content {
        margin-top: 25px;
        width: 80%; 
        padding: 10px; 
    }
    .front { transform: rotateY(45deg) translateZ(50px); }
    .back { transform: rotateY(225deg) translateZ(50px); }
    .left { width: 100px; height: 70px; transform: rotateY(-45deg) translateZ(64px) translateX(30px); }
    .right { width: 100px; height: 70px; transform: rotateY(135deg) translateZ(135px) translateX(-30px); }
    .top { width: 200px; height: 100px; transform: rotateY(45deg) rotateX(90deg) translateZ(50px); transition: transform 1s; }
    .bottom { width: 200px; height: 70px; transform: rotateY(45deg) rotateX(-90deg) translateZ(50px); }
    .box.open-top .paper {
        transform: translateY(-80px) rotateY(45deg) translateZ(45px) translateX(5px);
    }
    .progress-container{
        height: 12px;
    }
}
