.container-mybox{
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addButton {
    background-color: #e67e22;
    color: #ffffff;
    border: none;
    font-size: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 5px; 

}

#addButton:hover {
    background-color: #d35400;
}

#startButton {
    background-color: #2c3e50;
    color: #ffffff;
    border: none;
    font-size: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 5px; 


}

#startButton:hover {
    background-color: #1a242f;
}

#englishWord, #turkishWord {
    margin: 5px 5px;
    padding: 10px;
    font-size: 16px;
    width: 220px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#englishWord:focus, #turkishWord:focus {
    border-color: #3498db;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}

#englishWord::placeholder, #turkishWord::placeholder {
    color: #888;
}

.input-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-section input {
    margin: 0 5px;
    padding: 5px;
    font-size: 16px;
}

.input-section button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
}

.basket {
    margin-top: 20px;
    width: 300px;
    padding: 10px;
    display: none;
}

.basket h2 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.basket ul {
    list-style-type: none;
    padding: 0;
}

.basket ul li {
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

#basket {
    margin-top: 20px;
    width: 350px;
    background-color: #ffffff;
    border: 2px solid #E5A601;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 260px; /* Maksimum yükseklik belirlenir */
    overflow-y: auto; /* Dikey scroll bar ekler */
}

#basket h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
}

#wordList {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

#wordList li {
    padding: 10px;
    font-size: 16px;
    color: #2c3e50;
    background-color: #ecf0f1;
    /* border: 1px solid #2c3e50; */
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
}

#wordList li:hover {
    background-color: #d5dfe5;
    border-color: #a8b0b5;
}

@media (max-width: 600px) {
    .container-mybox {
        margin-top: 20%;
        padding: 0 10px;
    }

    #title_box {
        margin-top: 24px;
        font-size: 18px;
        text-align: center;
    }

    .input-section {
        flex-direction: column;
        align-items: stretch;
    }

    .input-section input, .input-section button {
        width: 100%;
        margin: 5px 0;
        font-size: 14px;
    }

    #addButton, #startButton {
        padding: 8px 0;
        font-size: 14px;
    }

    .basket {
        width: 100%;
        margin-top: 20px;
    }

    #basket {
        width: 100%;
        padding: 15px;
    }

    #basket h2 {
        font-size: 20px;
    }

    #wordList li {
        font-size: 14px;
        padding: 8px;
    }
}
